.home-section {
  padding: 10px;
  background-color: #261f1b;
  width: 100%;
  height: 100vh;
  position: relative;
}

.home-section figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.home-section figure > div {
  transition: all 0.3s ease;
}

.home-section figure > div:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.home-section img {
  width: 245px;
}

.home-section figcaption {
  color: white;
  font-weight: 200;
  text-align: center;
  width: 245px;
  font-size: 20px;
  letter-spacing: 1px;
  transform: translateY(-80%);
}
